<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <script>
        // Display the error message in a pop-up dialog
        alert('@ViewBag.ErrorMessage');
        // Redirect to the list page after displaying the error message
        window.location.href = '/Course/ListCourse';
    </script>
</head>
<body>
</body>
</html>
